<div class="container">
    <a href="index.html">
        <img src="images/official-century-logo.png" alt="Century High School Logo" class="header-logo" width="50" height="50">
    </a>
    
    <nav role="navigation" aria-label="Main navigation">
        <ul>
            <li><a href="girls-volleyball.html">Girls</a></li>
            <li><a href="boys-volleyball.html">Boys</a></li>
            <li><a href="contact.html">Contact</a></li>
        </ul>
    </nav>
    
    <div class="hamburger" aria-label="Toggle navigation menu" aria-expanded="false" role="button" tabindex="0">
        <span></span>
        <span></span>
        <span></span>
        <span></span>
    </div>
</div>